<!DOCTYPE html>
<html>
  <head>
    <title>layout of the crypt</title>
    <link rel="stylesheet" href="layout.css">
  </head>
  <body>
    <div class="container">
      <div class="sidebar" style="background-color: red;">sidebar</div>
      <div class="main-content" style="background-color: blue;">
        <div class="header" style="background-color: black; color: white;">header</div>
        <div class="main-page" style="background-color: pink;">
          <div class="f1-col" style="background-color: blue;">
            <div class="balance" style="background-color: violet;">balance</div>
            <div class="list" style="background-color: aliceblue;">list</div>
            <div class="insight">insight</div>
          </div>
          <div class="f2-col">
            <div class="first" style="background-color: aqua;">first</div>
            <div class="sec">sec</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>